POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_TIMEOUT=5s

HTTP_ADDR=:8080
HTTP_SHUTDOWN_TIMEOUT=10s

LOGGER_LEVEL=DEBUG

AUTH_JWT_SECRET=
AUTH_TOKEN_DURATION=24h
